<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <style type="text/css">
  body{
   font-family: Sofia;
   background-image: url('background.JPG');
}
h1{
  color: white;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  font-size: 40px;
  background: #f3c23b;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  }
  #container{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: #f3c23b;
  height: 1000px;
}
.chat {
  text-align:center;
  width:100%;
}
iframe{
  border-radius: 10px;
  }
</style>
</head>
<body>
<div id="container">
   <h1>YoYo Pizza Chatbot</h1>
<div class="chat">
<iframe
    allow="microphone;"
    width="400"
    height="550"
    src="https://console.dialogflow.com/api-client/demo/embedded/3224f3df-2e9e-465c-8e78-ec020a08ac10">
</iframe>
</div>
</div>
</body>
</html>